.pt_indicator {
	display:none;
	font-family:helvetica;
	position:fixed;
	top:50%;
	width:30px;
	font-size:70px;
	font-weight:bold;
	color:#CCC;
	opacity:0.7;
}
#pt_next_page {
	display:none;
	right:35px;
	z-index:314159;
}
#pt_back_page {
	display:none;
	left:25px;
	z-index:3141592;
}
.clicked {
	color:#747474;
}
