@keyframes fadein {
	from { opacity:0; }
	to { opacity:1; }
}
@-webkit-keyframes fadein {
	from { opacity:0; }
	to { opacity:1; }
}
.pt_indicator {
	display:none;
	position:fixed;
	top:50%;
	width:30px;
	height:62px;
	/* Null transform hack prevents repaint caused by arrows */
	-webkit-transform:translatez(0);
	transform:translatez(0);
	animation:fadein 2s;
	-webkit-animation:fadein 2s;
}
#pt_next_page {
	display:none;
	right:35px;
	z-index:314159;
	background:transparent url(chrome-extension://__MSG_@@extension_id__/icons/arrow-next.png) no-repeat 0 0;
}
#pt_back_page {
	display:none;
	left:25px;
	z-index:3141592;
	background:transparent url(chrome-extension://__MSG_@@extension_id__/icons/arrow-back.png) no-repeat 0 0;
}
#pt_next_page.clicked {
	background:transparent url(chrome-extension://__MSG_@@extension_id__/icons/arrow-next.png) no-repeat 0 -62px;
}
#pt_back_page.clicked {
	background:transparent url(chrome-extension://__MSG_@@extension_id__/icons/arrow-back.png) no-repeat 0 -62px;
}
